{% extends 'base.html' %}

{% block title %} Stix Generator {% endblock %}

{% block content %}
<p class="h5">
  Title is mandatory. Please use one line per IOCs.
</p>

<form action="/" method="POST" class="form-group">
  <p class="h6">
    {{ form.hidden_tag() }}
    {{ form.title.label }}* <br>
    {{ form.title(size=78)}}<br>
    {{ form.desc.label }} <br>
    {{ form.desc(rows='2',cols='80') }}<br>
    {{ form.ip.label }} <br>
    {{ form.ip(rows='3',cols='80') }} <br>
    {{ form.hashes.label }} <br>
    {{ form.hashes(rows='3',cols='80') }} <br>
    {{ form.fname.label }} <br>
    {{ form.fname(rows='3',cols='80') }} <br>
    {{ form.urls.label }} <br>
    {{ form.urls(rows='3',cols='80') }} <br>
    {{ form.subject.label }} <br>
    {{ form.subject(rows='3',cols='80') }} <br>
    <button type="submit" class="btn btn-primary">Generate</button>
  </p>
</form>

{% if result %}
<pre>
{{ result }}
</pre>

{% endif %}


{%endblock%}